h1,h2,h3{
  font-family: 'VT323',serif;
}

.background-color{
  background-color: rgba(34, 34, 34, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.page1{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image:	url(../img/programming.png);
  background-color: #222222;


}
.flex-item{
    text-align: center;
    color: orange;
    font-size: 80px;
    background-color: #23363A;

}
.content{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.flex-content-box{
  margin:0px 50px 0px 50px;
  text-align: center;
  color: #A4A27A;
  font-size: 80px;
  background-color: #364C6E;
}

p{
  font-style: italic;
  font-size: 35px;
  color: #4F898F;
}
