h1,h2,h3{
  font-family: 'VT323',serif;
}

.background-color{
  background-color: rgba(34, 34, 34, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

}

.page1{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image:	url(../img/programming.png);
  background-color: #222222;
  background-attachment: fixed;

}
.flex-item{
    text-align: center;
    color: orange;
    font-size: 80px;
    background-color: #23363A;

}
.content{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.flex-content-box{
  text-align: center;
  flex:1;
  color: #A4A27A;
  font-size: 32px;
  margin: 50px 100px 30px 90px;
  background-color: #364C6E;
}


.page2{
  background-color: #222222;
  height: 100vh;

}
p{
  font-style: italic;
  font-size: 35px;
  color: #4F898F;
}
h2{
  color: green;
  text-align: center;
}
