h1,h2,h3{

  font-family: 'VT323',serif;

}

.background-color{
  background-color: rgba(34, 34, 34, 0.89);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-item-green,.flex-item-purple,.flex-item-orange{
  text-align: center;
  border-color: white;


  /* Only for debuging */
    border-style: solid;
    border-width: 5px;
  /* Only for debuging */
}

.page1{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image:	url(../img/programming.png);
  background-color: #222222;
    display: flex;
    flex-direction: column;

}
.flex-item-green{
color: green;
  font-size: 100px;

}

.flex-item-purple{
  color: purple;
  font-size: 50px;

}

.flex-item-orange{

    color: orange;
    font-size: 100px;
}
